.post {
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    box-shadow: 2px 2px 3px #00000020;
    border-left: 5px solid #d17310;
}

.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post h2 {
    font-size: 24px;
}

.post-timestamp {
    opacity: 0.6;
}

.username {
    color: #d17310;
}

.post-publish {
    text-align: center;
    margin-top: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.post-status {
    opacity: 0.6;
}

.post-publish button {
    font: inherit;
    border: none;
    background-color: #d17310;
    color: white;
    padding: 5px;
    opacity: 0.6;
    border-radius: 10px;
}

.post-publish .edit-button {
    background-color: #2d765d;
}

.post-publish button:hover {
    opacity: 1;
}

.view-comments {
    text-align: right;
    margin-top: 10px;
}

.view-comments a {
    color: #2d765d;
}

.view-comments a:hover {
    text-decoration: underline;
}
