.post-form {
    max-width: 600px;
}

.post-form textarea {
    resize: none;
    height: 200px;
}

.post-form-info {
    display: flex;
    justify-content: space-between;
}

.post-form-info label {
    margin: 0;
}

.is-published {
    display: flex;
    align-items: center;
}

.post-form input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
